@import '@/assets/scss/varible.scss';
.backTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include wh(44px,44px);
    line-height: 44px;
    font-size: 22px;
    color: #000;
    background-color: #fff;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    transition: color .3s;
    border-radius: 50%;
    &:hover{
        color: #1890ff;
    }
}