@import '@/assets/scss/varible.scss';
@include gradientBG;
.topbar-wrapper {
    position: fixed;
    left: $siderbarWidth;
    right: 0;
    top: 0;
    height: $topbarHeight;
    line-height: $topbarHeight;
    padding: 0 24px 0 0;
    // background-color: $topbarBackgroundColor;
    background: linear-gradient(to right, rgba(35,166,213,0.4), rgba(35,213,171,0.4), rgba(238,119,82,0.4),rgba(231,60,126,0.4));
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
    transition: all 0.3s ease-in-out;
    .menu-collapse-wrapper {
      height: 100%;
      width: 48px;
      text-align: center;
      cursor: pointer;
      .icon{
        font-weight: bold;
        padding-top:15px;
        @include style(18px,$topbarColor);
      }
    }
    .title {
      height: 100%;
      font-weight: bold;
      @include style(17px,$topbarColor);
    }
    .menu-list {
      display: flex;
      align-items: center;
      padding-right: 15px;
      .icon{
        padding:0px 15px;
        font-weight: bold;
        @include style(18px,$topbarColor);
      }
      .propsUser{
        cursor: pointer;
         span{
           padding-left: 5px;
           color: $topbarColor;
         }
      }
    }
  }
