.line{
    position: relative;
    top: 0.18em;
    display: inline-block;
    height: 1.1em;
    margin: 0 8px;
    // vertical-align: middle;
    border-top: 0;
    border-left: 1px solid rgba(0,0,0,.06);
}