.line{
    position: relative;
    top: -.06em;
    display: inline-block;
    height: 1.5em;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid rgba(0,0,0,.06);
}