.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
}
.ant-menu-item-icon{
  margin-right: 0!important;
}
/* .ant-layout-sider {
    background:#fff;
} */
h1,h2,h3,h4,h5{
    margin: 0;
}