@import '@/assets/scss/varible.scss';
.head{
    height: $topbarHeight;
    line-height: $topbarHeight;
    position: relative;
    padding: 0 24px 0 0;
     background-color: #fff;
    //  box-shadow: 0 2px 8px #f0f1f2;
     box-shadow:0 8px 5px -5px #f0f1f2;
    //  box-shadow:0px 12px 8px -12px #f0f1f2;
     z-index: 10;
     overflow: hidden;
     .headLeft{
       display: flex;
        .menu{
          @include style(20px,#666,600);
          padding-left: 12px;
          cursor: pointer;
        }
    }
    .menuList {
      display: flex;
      align-items: center;
      padding-right: 15px;
      .icon{
        padding:0 20px;
        font-weight: bold;
        @include style(18px,$topbarColor);
      }
      .propsUser{
        cursor: pointer;
         span{
           padding-left:7px;
           color: $topbarColor;
         }
      }
    }
  }
.newList{
  width:300px;
  background: #fff;
  padding:15px;
  border-radius:4px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}