@import '@/assets/scss/varible.scss';
.logon{
  height:$topbarHeight;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  a{
    display: flex;
    height: 100%;
    align-items: center;
    h2{
    height: 32px;
    line-height: 32px;
    margin-left: 8px;
    @include style(18px,#1890ff,600);
    }
  }
}

.Shadow{
    box-shadow: 0 2px 8px #f0f1f2;
    // box-shadow:0px 12px 8px -12px #f0f1f2;
}
.menuContainer{
    height: calc(100vh - 96px);
    overflow-x: hidden;
    padding: 10px 0;
    flex:1;
    .empty{
        position: absolute;
        @include center()
    }
    &::-webkit-scrollbar {/*滚动条整体样式*/
        @include wh(4px,4px);   /*高宽分别对应横竖滚动条的尺寸*/
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 5px;
        background:rgba(0,0,0,.15);
    }
        &::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px #fff;
    }
}
 .switchThem{
    @include wh(100%,$topbarHeight);
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    overflow: hidden;
    transition: all .3s;
    @include style(14px,#666);
 }
