@import '@/assets/scss/varible.scss';
.head{
    height: $topbarHeight;
    line-height: $topbarHeight;
    position: relative;
    padding: 0 24px 0 0;
     background-color: #fff;
     box-shadow: 0 2px 8px #f0f1f2;
     z-index: 10;
    .collapses{
      height: 100%;
      width: 48px;
      text-align: center;
      cursor: pointer;
      .icon{
        font-weight: bold;
        padding-top:15px;
        @include style(18px,$topbarColor);
      }
    }
    .title {
      height: 100%;
      font-weight: bold;
      @include style(17px,$topbarColor);
    }
    .menuList {
      display: flex;
      align-items: center;
      padding-right: 15px;
      .icon{
        padding:0px 15px;
        font-weight: bold;
        @include style(18px,$topbarColor);
      }
      .propsUser{
        cursor: pointer;
         span{
           padding-left: 5px;
           color: $topbarColor;
         }
      }
    }
  }
