@import '@/assets/scss/varible.scss';
.head{
    height: $topbarHeight;
    line-height: $topbarHeight;
    position: relative;
    padding: 0 24px 0 0;
     background-color: #fff;
     box-shadow: 0 2px 8px #f0f1f2;
     z-index: 10;
     overflow: hidden;
     .headLeft{
       display: flex;
       padding-left: 20px;
       .logon{
          a{
            display: flex;
            height: 100%;
            align-items: center;
            h2{
            height: 32px;
            margin:0 12px;
            line-height: 32px;
            @include style(18px,#1890ff,600);
            }
          }
        }
        .menu{
          @include style(20px,#666,600);
          padding-left: 12px;
          cursor: pointer;
        }
    }
    .menuList {
      display: flex;
      align-items: center;
      padding-right: 15px;
      .icon{
        padding:0px 15px;
        font-weight: bold;
        @include style(18px,$topbarColor);
      }
      .propsUser{
        cursor: pointer;
         span{
           padding-left: 5px;
           color: $topbarColor;
         }
      }
    }
  }
