@import 'src/assets/scss/varible.scss';
.fade-enter {
    opacity: 0;
    transform: translateX(-25px);
  }
  
  .fade-enter-active,
  .fade-exit-active {
    opacity: 1;
    transition: all .3s ease-in;
    transform: translateX(0);
  }
  
  .fade-exit {
    opacity: 0;
    transform: translateX(25px);
  }
.top-10px{
    margin-bottom: 10px;
}
.left-10px{
    margin-left: 10px;
}
.view-pagitaion{
   text-align: right;
   padding-right: 20px!important;
}
.Error404{
    background: $color1;
    min-height: 100%;
}
.svg-style{
    font-size:18px!important;
    fill: #fff!important;
}
.svg-fontSize{
  font-size:16px;
}
.bgW{
  background:$color1;
}
